:root {
  /* Basic colors */
  --color-white: #fff;
  --color-black: #000;

  /* Background colors */
  --color-background-default: #0079bf;
  --color-background-paper: #fff;

  /* Primary colors*/
  --color-primary-main: #3d8cba;
  --color-primary-light: #dadbe2;

  /* Text colors*/
  --color-text-dark: #2c2f38;
  --color-text-light: #e3e4eb;

  /* Font */
  --font-family-primary: 'Roboto', sans-serif;

  /* Border radius */
  --border-radius: 4px;

  /* Z-indexes */
  --navbar-z-index: 1000;

  /* Components */
  --navbar-height: 50px;

  /* Shadow */
  --box-shadow: 1px 38px 182px 27px;
  --color-shadow: rgba(0, 0, 0, 0.27);
}
