:root {
  /* Basic colors */
  --color-white: #fff;
  --color-black: #000;

  /* Background colors */
  --color-background-default: #0079bf;
  --color-background-paper: #fff;

  /* Primary colors*/
  --color-primary-main: #0079bf;
  --color-primary-light: #dadbe2;
  --color-primary-light-hover: #c6c6c9;
  --color-secondary-main: #3d8cba;
  --color-secondary-main-hover: #4394c4;

  /* Text colors*/
  --color-text-dark: #292c33;
  --color-text-semi-dark: #3e3e3f;
  --color-text-light: #ffffff;

  /* Font */
  --font-family-primary: 'Roboto', sans-serif;

  /* Border radius */
  --border-radius: 4px;

  /* Z-indexes */
  --navbar-z-index: 1000;

  /* Components */
  --navbar-height: 50px;
  --card-width: 280px;

  /* Shadow */
  --box-shadow: 1px 38px 182px 27px;
  --color-shadow: rgba(0, 0, 0, 0.27);

  /* Transition */
  --custom-transition: 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
